@import "./custom/_variables";
@import "./bootstrap/bootstrap";
@import "./instantsearch/instantsearch";
@import "./instantsearch/instantsearch-theme-algolia";
@import "./custom/includes/buttons";
@import "./custom/includes/card";
@import "./custom/includes/copy_to_clipboard";
@import "./custom/includes/navbar";
@import "./custom/includes/images";
@import "./custom/includes/jumbotron";
@import "./custom/includes/pagination";
@import "./custom/includes/social_links";
@import "./custom/includes/syntax_highlighting";
@import "./custom/includes/tables";
@import "./custom/includes/type";

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&family=Work+Sans:wght@600&display=swap');

h4, h5 {
    font-family: $font-family-alt;
    font-size: 0.875rem;
    font-weight: 600;
}

h4 {
    text-transform: uppercase;
}

h1,h2,h3 {
  font-family: 'Source Sans Pro';
  font-weight: 700;
}

.text-left {
  text-align: left;
}

.navbar {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  margin: 16px 0;
  height: 47px;
}

.navbar a {
  text-decoration: none;
}

.social-container {
  display: block;
  align-items: center;
}

.logo-container {
  display: inline;
  overflow: hidden;
  height: inherit;
}

.brigade-logo {
  max-width: 120px;
}

@media (max-width: 812px) {
  .brigade-logo {
    height: 100%;
  }
}

.social-logo {
  display: inline;
  margin-left: 16px;
}

.social-img {
  height: 16px;
  width: 16px;
  z-index: 1;
}

@media (min-width: 651px) {
  .navbar {
    margin: 16px 0;
    height: 32px;
  }
}

.slack-logo {
  bottom: 0;
  display: inline-block;
  margin: auto;
  position: absolute;
  top: 0;
}

@media (min-width: 750px) {
  .navbar {
    margin: 24px 0;
    height: 47px;
  }
  .logo-container {
    width: 120px;
    min-height: 60px;
  }
  .social-container {
    margin-left: 16px;
  }
  .social-img {
    height: 24px;
    width: 24px;
  }
}

@media (min-width: 1440px) {
  .navbar {
    margin: 24px auto;
    height: 47px;
    max-width: 1440px;
  }
}

.header-line-container {
  display: block;
  background-color: $cfa-red;
  
}

.header-contents {
  max-width: 1440px;
  margin: 0 auto;

  h1, h4, p {
    color: $white;
  }

  p {
    margin-top: 1rem;
    font-size: 1.25rem;
    line-height: 1.875rem;
  }

  @media (max-width: 1058px) {
    display: flex;
    justify-content: center;
  }
}

.hero-header-heading {
  &--mobile {
    display: none;
  }

  @media (max-width: 1058px) {
    &--mobile {
      display: block;
    }
    &--desktop {
      display: none;
    }
  }
}

.header-text {
  max-width: 492px;
  margin-top: 9.1875rem;
  margin-right: 3rem;
  padding-left: 6rem;

  @media (max-width: 1058px) {
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 3rem 2.125rem;
  }
}

.hero-image {
  position: relative;
  bottom: -10px;
  height: 504px;
  margin-top: 4rem;

  @media (max-width: 1353px) {
    height: 408px;
    bottom: -20px;
  }

  @media (max-width: 1195px) {
    height: 320px;
    bottom: -100px;
  }

  @media (max-width: 1058px) {
    margin-top: 0;
    height: 312px;
    bottom: 0px;
  }
}

.about {
  background-color: $cfa-red;
  color: $white;
  padding-top: 5rem;
  padding-bottom: 3rem;
  margin-bottom: 2rem;
  h1,
  h2,
  h3 {
    color: $white;
  }
  a {
    color: $white;
  }
  p {
    font-size: calc(1rem + 27.333%);
  }
}

.keep-in-touch {
  display: block;
  margin: auto;
  margin-top: 1rem;
  .fa-slack {
    color: $white;
  }
  svg {
    font-size: 400%;
  }
  .fa-github {
    color: $white;
  }
}

.meetups {
  background-color: $white;
  padding-left: 1%;
  padding-right: 1%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  justify-content: center;
  h4 {
    color: $black;
  }
  h3 {
    a {
      color: $black;
    }
  }
  h1 {
    color: $black;
  }
}

.meetup {
  border-radius: 1rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

#meetupLink {
  color: $cfa-blue;
}

.rsvp-stuff {
  margin-top: 1rem;
}

.attendees {
  border-bottom: 2rem solid transparent;
}

.attend-button {
  border-bottom: 1rem solid transparent;
  padding-left: 5%;
}

.fa-map-marker-alt {
  color: $cfa-red;
  margin-right: 0.5rem;
}

.redbutton {
  background-color: $cfa-red;
  border: none;
  color: white;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  text-decoration: none;
  border-radius: 1rem;
  margin-top: 2rem !important;
  a {
    color: white;
  }
}

.redbutton:hover {
  color: white;
  text-decoration: underline;
}

.whitebutton {
  background-color: $white;
  border: 1px solid $cfa-red;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: .75rem;
  padding-right: .75rem;
  a {
    color: $cfa-red !important;
  }
}

.contact-form-container {
  color: $white;
  padding-bottom: 5rem;
  padding-top: 1rem;
  background-color: $cfa-red;
  h1 {
    color: $white;
    margin-bottom: 2rem;
  }
  .text-center {
    display: block;
    margin: auto;
  }
  a {
    color: $white;
  }
}

#contactus {
    margin-bottom: 3rem;
}

.contact-form {
  margin-bottom: 2rem;
  width: 65%;
  @media(max-width: 650px) {
    width: 86%;
  }
  margin-left: auto;
  margin-right: auto;
  input {
    width: 100%;
    margin-bottom: 1.5rem;
    display: block;
  }
  textarea {
    width: 100%;
    margin-bottom: 1.5rem;
    display: block;
    text-indent: .5rem;
   }
  
  button {
    display: block;
    width: 100%;
    background-color: $cfa-red;
    border: $white;
    border-style: solid;
    border-width: 1px;
    color: $white;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    text-decoration: none;
    border-radius: 1rem;
    margin-left: auto;
    margin-right: auto;
  }
  button:hover {
    text-decoration: underline;
  }
}

.event-photo {
  display: block;
  margin: auto;
}

.event-description {
  margin-top: 1rem;
}


.padded-content {
  width: 100%;
  max-width: 1440px;
  display: block;
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.footer {
    background-color: $white;
    color: $black;
    text-align: center;
    a {
        color: $cfa-blue;
    }
    p {
	font-size: 0.875rem;
	margin-top: 0;
	margin-bottom: 0;
    }
}

@media (max-width: 768px) {
    .footer-icon {
	margin-bottom: 1rem;
    }
}

@media (min-width: 768px) {
    .footer p {
	text-align: right;
    }
    .footer {
	text-align: left;
    }
}

.about-cfa {
  padding-top: 2rem;
  margin-bottom: 2rem;
}

.workwithus {
  padding-top: 3rem;
  padding-bottom: 3rem;
  h4 {
    color: $black;
  }
  p {
    font-size: calc(1rem + 27.333%);
  }
}

.workwithusIconsRow {
  justify-content: space-between;
  text-align: center;
  font-weight: bold;

}

.workwithusIcon {
  width: 42px;
  height: 42px;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

#workWithUs {
  color: $black;
}

#workWithUsText {
  max-width: 510px;
  margin: auto;
}

.cardTitle {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0;
  padding-top: 82px;
}

.volunteersRow {
  margin-top: 64px;
  flex-wrap: wrap-reverse;
}

.cardText {
  max-width: 100%;
}

.cardsContainer {
  background-color: $off-white;
  padding-top: 64px;
  padding-bottom: 64px;
  h2 {
    color: $black;
  }
  a {
    color: $cfa-blue;
  }
  .row {
    justify-content: space-between;
  }
}

.volunteersText {
  padding-left: 10%;
  padding-right: 0;
}

.organizationsText {
  padding-right: 10%;
}

.donateButton {
  background-color: $cfa-red;
  font-weight: $font-weight-bold;
  max-width: 85px;
  border: none;
  color: white;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: 1rem;
  text-align: center;
  text-decoration: none;
  margin-top: 2rem !important;
  a {
    color: white;
  }
  &:hover {
    color: white;
    text-decoration: underline;
  }
  &:visited {
    color: white;
  }

}

