@import "./custom/_variables";
@import "./bootstrap/bootstrap";
@import "./custom/_reset";
@import "./instantsearch/instantsearch";
@import "./instantsearch/instantsearch-theme-algolia";
@import "./custom/includes/buttons";
@import "./custom/includes/card";
@import "./custom/includes/copy_to_clipboard";
@import "./custom/includes/navbar";
@import "./custom/includes/images";
@import "./custom/includes/jumbotron";
@import "./custom/includes/pagination";
@import "./custom/includes/social_links";
@import "./custom/includes/syntax_highlighting";
@import "./custom/includes/tables";
@import "./custom/includes/type";

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&family=Work+Sans:wght@400;600&display=swap');


body {
  color: $black;
}

h4, h5 {
    font-family: $font-family-alt;
    font-size: 0.875rem;
    font-weight: 600;
}

h4 {
    text-transform: uppercase;
}

h1,h2,h3 {
  font-family: 'Source Sans Pro';
  font-weight: 700;
}

.text-left {
  text-align: left;
}

.contentContainer {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

hr {
  background-color:$light-grey;
  margin: 0;

  &.inner {
    display: none;
    @media (max-width: 1440px) {
      display: block;
      margin: 0 6rem;
    }
    @media (max-width: 768px) {
      margin: 0 3rem;
    }
    @media (max-width: 360px) {
      margin: 0 1.5rem;
    }
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  padding: 0 6rem;
  margin: 1.5rem 0;
  height: 47px;
  
  a {
    text-decoration: none;
  }  

  @media (max-width: 996px) {
    justify-content: center;
  }

  @media (max-width: 768px) {
    padding: 0 3rem;
  }
}

.mobile-nav {
  list-style-type: none;
  padding: 0;
  border-top: 1px solid $light-grey;
  display: none;
  background: white;
  width: 100vw;
  height: 100%;
}

.menu-icon {
  display: none;
  padding: 0;
  border: none;
  background: none;
  width: 28px;

  @media (max-width: 996px) {
    position: absolute;
    left: 96px;
    display: inline;
  }

  @media (max-width: 768px) {
    left: 48px;
  }
  
  @media (max-width: 360px) {
    left: 24px;
  }
}

.internal-links {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  li {
    margin-right: 2rem;
  }
  a {
    color: $darker-grey;
  }
}

.navbar [aria-current] {
  border-bottom: 2px solid $cfa-red;
}

.hideable-int-link {
  // menu goes mobile
  @media (max-width: 996px) {
    display: none;
  }
}

.mobile-nav {
  font-size: 2em;
  font-weight: 700;
  text-align: center;
  padding: 3rem 0 3rem 0;
  margin: 0;
  left: 0;

  a {
    color: $darker-grey;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    margin-right: 0;
    margin-bottom: 2rem;
  }
  li:last-child {
    margin-bottom: 0;
  }
  @media (max-width: 651px) {
    list-style-type: none;
    margin-left: 24px;
    text-align: left;
  }
}

.external-links {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
  display: block;
  align-self: center;
  margin-right: 24px; 
  
  @media (max-width: 996px) {
    display: none;
  }
}

.external-links-mobile {
  display: flex;
  justify-content: center;

  .social-logo:first-child {
    margin-left: 0;
  }
  @media (max-width: 360px) {
    margin-left: 24px;
    justify-content: left;
  }
}

.donate-and-socials {
  display: flex;
}

#logo-container {
  display: inline;
  overflow: hidden;
  height: 100%;
  margin-right: 48px;

  @media(max-width: 996px) {
    margin: 0 auto;
  }
} 

.brigade-logo {
  width: 120px;
  height: auto;
}

.social-container {
  display: block;
  align-self: center;
  margin-right: 24px; 
  
  @media (max-width: 996px) {
    display: none;
  }
}

.social-logo {
  display: inline;
  margin-left: 1rem;
  justify-self: center; 
}

.social-img {
  height: 1.5rem;
  width: 1.5rem;
  z-index: 1;
}

.donate-link {
  display: none;
  color: $darker-grey;
  @media(max-width: 651px) {
    position: absolute;
    top: 12px;
    right: 48px;
    display: inline;
  }
  @media(max-width: 360px) {
    right: 24px;
  }
}

.donate-button {
  @media (max-width: 996px) {
    position: absolute;
    top: 0;
    right: 96px;
  }

  @media (max-width: 768px) {
    right: 48px;
  }

  @media(max-width: 651px) {
    display: none;
  }
}

@media (max-width: 360px) {
  .navbar {
    padding: 0 24px; 
  }
}

@media (max-width: 651px) {
  .navbar {
    margin: 16px 0;
  }
}

.slack-logo {
  bottom: 0;
  display: inline-block;
  margin: auto;
  position: absolute;
  top: 0;
}

@media (min-width: 750px) {
  .navbar {
    margin: 1.5rem 0;
  }
  .logo-container {
    width: 120px;
    min-height: 47px;
  }
}

@media (min-width: 1440px) {
  .navbar {
    margin: 24px auto;
    max-width: 1440px;
  }
}

.header-line-container {
  display: flex;
  background-color: $cfa-red;
  align-items: center;
  padding-left: 6rem;
  @media (max-width: 1058px) {
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-left: 0;
  }
  @media (min-width: 1440px) {
    max-width: 1440px;
    margin: 0 auto;
  }
}

.header-background-container {
  background: $cfa-red;
}

.header-contents {
  max-width: 1440px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  h1, h4, p {
    color: $white;
  }

  h4 {
    @media (max-width: 1058px) {
      font-size: 0.875rem !important;
      line-height: 0.875rem;
      margin-top: 3rem;
    }
  }

  h1 {
    @media (max-width: 1058px) {
      font-size: 2rem;
      line-height: 2.625rem;
    }
  }

  p {
    margin-top: 1rem;
    font-size: 1.25rem;
    line-height: 1.875rem;

    @media (max-width: 1058px) {
      font-size: 1rem;
      line-height: 1.5rem;
      margin-bottom: 0;
    }
  }

  @media (max-width: 1058px) {
    display: flex;
    justify-content: center;
    height: auto;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}

.hero-header-heading {
  &--mobile {
    display: none;
  }

  @media (max-width: 1058px) {
    &--mobile {
      display: block;
    }
    &--desktop {
      display: none;
    }
  }
}

.header-text {
  max-width: 30.75rem;
  margin-right: 3rem;

  @media (max-width: 1058px) {
    width: 100%;
    text-align: center;
    padding: 0;
    margin: auto;
  }
}

.hero-header-image {
  display: flex;
  background-image: url(/images/skyline.svg);
  height: 504px;
  width: 840px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: -2px;
  margin-top: 3rem;
  align-self: flex-end;

  @media (max-width: 1058px) {
    max-width: 30.75rem;
    max-height: 18.7rem;
    margin-top: 3rem;
    background-position: bottom center;
    align-self: auto;
  }
}

.secondary-hero-background-container {
  background: $cfa-red;
}

.secondary-hero-container {
  padding-left: 6rem;

  @media (max-width: 768px) {
    padding-left: 0;
  }

  @media (min-width: 1440px) {
    max-width: 1440px;
    margin: 0 auto;
  }
}

.secondary-hero-contents {
  max-width: 1440px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h1,
  h4 {
    color: $white;
  }

  h4 {
    @media (max-width: 768px) {
      padding-top: 0;
      margin: 0 0 1rem 0;
    }

    @media (max-width: 651px) {
      font-size: 0.875rem !important;
      line-height: 0.875rem;
    }
  }

  h1 {
    @media (max-width: 768px) {
      padding-top: 0;
      margin-bottom: 0;
    }

    @media (max-width: 651px) {
      font-size: 2rem;
      line-height: 2.625rem;   
    }

    @media (max-width: 360px) {
      font-size: 2rem !important;
      line-height: 2.375rem;
    }
  }

  @media (max-width: 768px) {
    justify-content: center;
    padding: 0 3rem;
  }

  @media (max-width: 360px) {
    padding: 0 1.5rem;
  }
}

.secondary-hero-subheading {
  &--mobile {
    display: none;
  }

  @media (max-width: 360px) {
    &--mobile {
      display: block;
    }
    &--desktop {
      display: none;
    }
  }
}

.secondary-hero-text {
  max-width: 29rem;
  margin-right: 2rem;
  padding: 3rem 0;

  @media (max-width: 768px) {
    width: 100%;
    text-align: center;
    margin-right: 0rem;
  }
}

.secondary-hero-image {
  width: 453px;
  flex-shrink: 0;

  @media (max-width: 768px) {
    display: none;
  }
}

.about {
  background-color: $cfa-red;
  color: $white;
  padding-top: 5rem;
  padding-bottom: 3rem;
  margin-bottom: 2rem;
  h1,
  h2,
  h3 {
    color: $white;
  }
  a {
    color: $white;
  }
  p {
    font-size: calc(1rem + 27.333%);
  }
}

.keep-in-touch {
  display: block;
  margin: auto;
  margin-top: 1rem;
  .fa-slack {
    color: $white;
  }
  svg {
    font-size: 400%;
  }
  .fa-github {
    color: $white;
  }
}

.meetups {
  background-color: $white;
  margin-top: 5rem;
  margin-bottom: 5rem;

  @media(max-width: 768px) {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  @media(max-width: 360px) {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  h4 {
    color: $black;
    padding-top: 0;
    font-size: 0.875rem !important;
  }
  h2 {
    padding-top: .25rem;
    font-size: 2rem;
    @media (max-width: 651px) {
      font-size: 1.5rem;
    }
    a {
      color: $black;
    }
  }
  h1 {
    color: $black;
    font-size: 3rem;
    @media (max-width: 651px) {
      font-size: 2rem;
    }
    padding-top: 0;
    margin-bottom: 1rem;
  }
  .fa-external-link-alt {
    font-size: .675rem;
  }
  .event-description {
    padding-right: 0;
    padding-left: 0;
    @media(min-width: 1059px){
      max-width: 488px;
      flex: 0 1 auto;
      align-content: flex-start;
    }

    p {
      margin-top: .5rem;
      margin-bottom: .5rem;
      font-size: 1.25rem;
      font-weight: 400;
      @media (max-width: 651px) {
        font-size: 1rem;
      }
      a {
        color: $cfa-blue-dark;
      }
    }
    .event-location-col{
      padding: 0;
    }
    .event-location {
      margin-top: 1.5rem;
      margin-bottom: .5rem;
      font-family: $font-family-alt;
      font-weight: 600;
      color: $darker-grey;
      font-size: .875rem; 
      line-height: 1.2rem;
      i {
        font-size: 1rem;
      }
    }
  }
}

.meetup {
  border-radius: 1rem;
  padding-left: 0;
  padding-right: 0;
  p.text-center {
    line-height: 1;
    margin-bottom: 3rem;
    @media (max-width: 651px) {
      margin-bottom: 2rem;
    }
  }
  @media (max-width: 1058px) {
    max-width: 671px;
    margin: auto;
  }
  .flexRow {
    margin: 0;
  }
}

#meetupLink {
  font-family: $font-family-alt;
  font-size: .875rem;
  font-weight: 600;
  color: $cfa-blue-dark;
}

.attend-button-container, .join-us-button-container {
  padding-top: 1rem;
  display: flex;
  justify-content: right; 
}

.attend-button {
  @media (max-width: 1058px) {
    padding: 0 .9375rem; 
    display: inline-block;
    width: 100%;
  }

  i {
    margin-left: .25rem;
  }
}

.short-button {
  font-family: $font-family-alt;
  font-size: .875rem;
  padding: 14px 16px;
  font-weight: 600;
  text-align: center;
  background-color: $cfa-red;
  color: $white;
  border-radius: 2px;

  &:hover {
    background-color: $cfa-red-dark;
  }
  
  &:active {
    transform: translateY(1px);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  &:focus {
    box-shadow: 0 0 0 2px $white, 0 0 0 5px $cfa-blue;
    text-decoration: underline;
    outline: none;
  }
}

.long-button {
  padding: 14px 16px;
  font-size: 0.875rem;
  font-family: $font-family-alt;
  font-weight: 600;
  color: $white;
  background-color: $cfa-red;  
  border: 1px solid $white;    
  border-radius: 2px;

  &:hover {
    color: $cfa-red;
    background-color: $white;
    text-decoration: none;
    cursor: pointer;
  }
  &:active {
    transform: translateY(1px);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
}

.fa-map-marker-alt {
  color: $cfa-red;
  margin-right: 0.5rem;
}

.event-photo-div {
  padding-right: 0;
  padding-left: 3rem;
  @media(max-width: 1058px) {
    margin-bottom: 1.5rem;
    padding-left: 0;
  }
}

.event-photo {
  display: block;
  width: 100%;
  object-fit: contain;
}

.contact-form-container, .join-us-container {
  color: $white;
  padding: 80px 96px;
  background-color: $cfa-red;

  @media(max-width: 768px){
    padding: 64px 48px;
  }

  @media(max-width: 360px){
    padding: 48px 24px;
  }

  h1, h2 {
    color: $white;
    font-weight: 700;
    line-height: 1.2;
    @media(max-width: 651px){
      font-size: 2rem;
    }
  }
  .text-center {
    display: block;
    margin: auto;
  }
  a {
    color: $white;
  }
}

#contactus {
  margin-top: 0px;
  margin-bottom: 24px;
  padding-top: 0px;
}

.contact-form {
  width: 600px;
  label {
    font-family: $font-family-alt;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 12px;
    line-height: 1.5;
  }

  font-size: 1rem;
  margin-top: -10px;
  margin-left: auto;
  margin-right: auto;
  input {
    width: 100%;
    padding: 10px 13px 7px 13px;
    margin-bottom: 24px;
    display: block;
    line-height: 1.5;
  }
  input::placeholder {
    color: $light-grey;
  }
  textarea {
    width: 100%;
    height: 196px;
    margin-bottom: 24px;
    padding: 16px 12px;
    display: block;
    line-height: 1.5;
  }
  textarea::placeholder {
    color: $light-grey;
  }
  
  button {
    width: 100%;
  }
}


.padded-content {
  width: 100%;
  max-width: 1440px;
  display: block;
  margin: auto;
  padding-left: 6rem;
  padding-right: 6rem;
  
  @media(max-width: 768px) {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  @media(max-width: 360px) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

}

.footer {
    background-color: $white;
    color: $black;
    text-align: center;
    a {
        color: $cfa-blue-dark;
        font-weight: 400;
    }
    p {
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
    }
    img{
      width: 4.75rem;
      height: auto;
    }
}

@media (max-width: 768px) {
    .footer-icon {
      margin-bottom: 1rem;
    }
}

@media (min-width: 768px) {
    .footer p {
	text-align: right;
    }
    .footer {
	text-align: left;
    }
}

.about-cfa {
  padding-top: 2rem;
  margin-bottom: 2rem;
}

.workwithus {
  padding: 0;
}

.workwithusHeader {
  color: $black;
  margin: 80px auto 24px;
  width: 600px;

  h1 {
    color: $black;
    padding-top: 0;
    margin-bottom: 1rem;
  }

  p {
    margin-bottom: 0;
    @media (max-width: 767px) {
      margin-top: 5rem;
    }
  }

  @media (max-width: 767px) {
    margin-top: 64px;
  }
  @media (max-width: 651px) {
    width: 555px;
    h1 {
      font-size: 2rem;
    }
    p {
      font-size: 1rem;
    }

  }
  @media (max-width: 604px) {
    width: 100%;
    padding: 9px;
  }
  @media (max-width: 360px) {
    margin-top: 48px;
  }
}
.sectionContent {
  padding-bottom: 80px;
  padding-top: 1.5rem;
  

  h4 {
    color: $black;
  }
  p {
    font-size: calc(1rem + 27.333%);
    color: $black;
  }
  @media (max-width: 768px) {
    padding-top: 0;
    padding-bottom: 64px;
  }
  @media (max-width: 651px) {
    align-content: center;
    width: 397px;
    p {
      font-size: 1rem;
    }
  }
  @media (max-width: 445px) {
    width: 100%;
  }
  @media (max-width: 360){
    padding-bottom: 24px;
  }

}

#workWithUsText{
  margin: 0;
}

.iconContainer,
.iconTile {
	position: relative;
	width: 100%;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}

.iconContainer {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 83.33333%;
	flex: 0 0 83.33333%;
	max-width: 83.33333%;
}

.flexRow {
	display: flex;
	flex-wrap: wrap;
	margin-right: ($grid-gutter-width / -2);
	margin-left: ($grid-gutter-width / -2);
}

.iconsRow {
  justify-content: space-between;
  text-align: center;
  font-weight: bold;
  padding-top: 24px;
  padding-bottom: 24px;
  margin: auto;
  width: 100%;

  max-width: 1032px;

  @media (min-width: 361px) {
		.iconTile {
			flex: 0 0 50%;
			max-width: 50%;
		}
	}

	@media (min-width: 768px) {
		.iconTile {
			-webkit-box-flex: 0;
			-ms-flex: 0 0 25%;
			flex: 0 0 25%;
			max-width: 25%;
		}
	}

  p {
    margin-bottom: 0;
  }

  @media (max-width: 767px) {
    padding: 0;
    .iconTile{
      margin-top: 24px;
      margin-bottom: 24px;
    }

    @media (max-width: 767px) {    
      margin-bottom: 0;
      p {
        padding-bottom: 16px;
      }
    }
  }
}
.icon {
  width: 42px;
  height: 42px;
  margin-bottom: 16px;

  @media (max-width: 767px) {
    margin-top: 24px;
  }
}

.cardTitle {
  font-family: $font-family-alt;
  color: $black;
  text-transform: uppercase;
  font-size: 0.875rem !important;
  font-weight: 600;
  margin-bottom: 0;
}

.image-left-card-row {
  flex-wrap: wrap-reverse;
  @media(max-width: 1058px) {
    flex-direction: column-reverse !important;
  }
}

.image-right-card-row, 
.image-left-card-row {
  margin-top: 80px;
  @media(max-width: 1058px) {
    padding: 0;
    margin-top: 64px;
  }
  @media(max-width: 360px) {
    margin-top: 48px;
  }
}

.cardText {
  font-size: 1.25rem;
  max-width: 100%;
  p {
    margin-bottom: 24px;
  }
  @media (max-width: 651px) {
    font-size: 1rem;
  }
} 

p.cardText {
  margin-bottom: 24px;
}

.cardsContainer {
  background-color:$off-white;
  margin-left: -15px;
  margin-right: -15px;

  @media (max-width: 767px) {
    padding-top: 0;
  }

  h2 {
    color: $black;
    font-size: 2rem;
    padding-top: 16px;
    padding-bottom: 7px;
    @media (max-width: 651px) {
      font-size: 1.5rem !important;
    }
  }
  a {
    font-family: $font-family-alt; 
    font-weight: 600; 
    font-size: 1rem; 
    color: $cfa-blue-dark;
  }
  .flexRow {
    flex-wrap: nowrap;
    justify-content: space-between;
    @media(max-width: 1058px) {
      display: flex;
      flex-direction: column;
      width: 671px;
      margin-left: auto;
      margin-right: auto;
    }
    @media(max-width: 768px) {
      width: 100%;
    }
  }

  img {
    max-width: none;
    width: 600px;
    margin-right: 0;
    @media(max-width: 1058px) {
      width: 100%;
    }
  }
}

.cards {
  padding: 80px 96px;
  max-width: 1440px;
  @media(max-width: 1058px) {
    padding: 64px 48px;
  }
  @media(max-width: 360px) {
    padding: 48px 24px;
  }
}

.card-info {
  width: 492px;
  @media (max-width: 1340px) {
    width: 100%;
    margin-bottom: 14px;
  }
  @media (max-width: 1058px) {
    margin-bottom: 0;
  }
}

.image-right-card-text {
  display: flex;
  flex-shrink: 4;
  flex-direction: column;
  justify-content: center;
  padding-left: 0;
  padding-right: 15px;
  @media(max-width: 1058px) {
    padding-right: 0;
  }
}

.image-left-card-text {
  display: flex;
  flex-shrink: 4;
  flex-direction: column;
  justify-content: center;
  padding-left: 15px;
  padding-right: 0;
  @media(max-width: 1058px) {
    padding-left: 0;
  }
}

.card-img-container {
  flex-shrink: 1;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  @media(max-width: 1058px) {
    width: 100%;
  }
}

.centered-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;

  h2 {
    color: $black;
    margin-bottom: 0;
  }
}

.gallery-padding {
  padding: 80px 96px;

  @media (max-width: 1058px) {
    max-width: 768px;
    padding: 80px 48px;
  }

  @media (max-width: 768px) {
		padding: 64px 48px;
  }

  @media (max-width: 651px) {
    padding: 64px calc(100vw / 360 * 24);
  }

  @media (max-width: 360px) {
		padding: 64px 24px;
  }
}

.gallery-container {
  width: 100%;
  max-width: 1440px;
	padding: 0px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	column-gap: 32px;
	row-gap: 80px;
	grid-column-gap: 32px;
	grid-row-gap: 80px;
  justify-items: center;

	@media (max-width: 1058px) {
		grid-template-columns: 1fr 1fr;
		column-gap: 32px;
		row-gap: 64px;
		grid-column-gap: 32px;
		grid-row-gap: 64px;
	}

	@media (max-width: 768px) {
		column-gap: 32px;
		row-gap: 64px;
		grid-column-gap: 32px;
		grid-row-gap: 64px;
	}

	@media (max-width: 651px) {
    row-gap: calc(100vw / 360 * 48);
    column-gap: calc(100vw / 360 * 16);
    grid-row-gap: calc(100vw / 360 * 48);
    grid-column-gap: calc(100vw / 360 * 16);
  }

	@media (max-width: 360px) {
		grid-template-columns: 1fr;
		column-gap: 32px;
		row-gap: 48px;
		grid-column-gap: 32px;
		grid-row-gap: 48px;
	}
}

.gallery-card {
  width: 100%;
  max-width: 395px;

  img {
    width: 100%;
    height: 100%;
    max-height: 261px;
    max-width: 395px;
    object-fit: cover;
  }

  h5 {
    font-family: "Work Sans",sans-serif;
    color: #333;
    text-transform: uppercase;
    font-size: 0.875rem;
    font-weight: 600;
    margin-bottom: 0;
    padding: 16px 0px;
  }

  h2 {
    font-size: 2rem;
    padding-bottom: 16px;
    padding-top: 0px;
    margin-bottom: 0px;
    
    a {
      color: $black;
      &:hover, &:focus {
        text-decoration: underline;
      }
    }
  }

  p {
    font-size: 1.25rem;
    max-width: 100%;
    margin-bottom: 0;
  }

  @media (max-width: 651px) {
    
    h2{
      font-size: 1.5rem;
    }
    
    p {
      font-size: 1rem;
    }
  }
}

.gallery-col-2-max {
  @media (min-width: 1058px) {
    grid-template-columns: 1fr 1fr;
  }

  h2 {
    padding-top: 16px;
    &:hover {
      text-decoration: underline;
    }
  }
}

.gallery-image-container {
  width:100%;
  max-width: 395px;
  max-height: 261px;
  display: flex;
  align-items: center;
}

// ABOUT Section - What is CFA and Why join
.whoIsCFA {
    background-color: #F5F5F6;
  }
.aboutPage {
  margin-left: auto;
  margin-right: auto;
  padding: 80px 96px;
  @media(max-width: 768px) {
    padding: 64px 48px;
  }
  @media(max-width: 360px) {
    padding: 48px 24px;
  }
  
  .section {
      .infoContainer {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        @media (max-width: 768px) {
          max-width: 672px;
        }
        @media (max-width: 651px) {
          max-width: 555px;
        }
        @media (max-width: 360px) {
          max-width: 312px;
        }
        
        h2 {
          margin-bottom: 16px;
          color: black;
        }
        .text {
          font-size: 1.25rem;
          line-height: 34px;
          padding-bottom: 24px;
          margin-bottom: 0;
          @media (max-width: 651px) {
            font-size: 1rem;
            line-height: 23px;
          }
        }
        .learnMore {
          a {
            font-family: $font-family-alt;
            font-weight: 600;
            font-size: 1rem;
            color: $cfa-blue-dark;
            text-decoration: none;
            background-color: transparent;
          }
        }
        .cardImage {
          width: 100%;
        }
      }
  }
}
.content-container {
  margin-left: auto;
  margin-right: auto;
  padding: 80px 96px;
  max-width: 1440px;
  height: max-content;
  .content-header {
    h2 {
      padding: 16px 0px 16px 0px;
      margin-bottom: 0px;
      margin-left: auto;
      margin-right: auto;
      width: 600px;
      height: auto;
      font-family: $font-family-base;
      font-style: normal;
      font-weight: bold;
      font-size: 3rem;
      line-height: 62px;
      color: $darker-grey;
    }
    p {
      margin-bottom: 24px;
      margin-left: auto;
      margin-right: auto;
      width: 600px;
      height: auto;
      font-family: $font-family-base;
      font-style: normal;
      font-weight: normal;
      font-size: 1.25rem;
      line-height: 30px;
      color: $darker-grey;
    }
  }
  
  @media (max-width: 768px) {
    padding: 64px 48px;
    .content-header {
      h2 {
        width: 672px;
      }
      p {
        width: 87.5vw;
      }
    }
  }

  @media (max-width: 651px) {
    .content-header{
      h2 {
        font-size: 2rem;
        width: 555px;
      }
      p {
        font-size: 1.125rem;
        line-height: 23px;
        width: 85.2vw;
      }
    }
  }

  @media (max-width: 360px) {
    padding: 48px 0px;
    margin-left: 24px;
    margin-right: 24px;
    .content-header {
      h2 {
        font-size: 2rem;
        width: 312px;
      }
      p {
        font-size: 1.125rem;
        line-height: 23px;
        width: 312px;
      }
    }
  }
 }
  
 .quote-content {
  position: relative;
  max-width: 1440px;
  .quote-paragraph-container {
    padding-top: 80px;
    padding-left: 107px;
    height: max-content;
    @media (max-width: 1399px) {
      padding-left: 10vw;
      padding-right: 0;
      max-width: 94%;
    }
    @media (max-width: 768px) {
      max-width: 100%;
      padding-left: 0px;
    }
    @media (max-width: 360px) {
      max-height: 437px;
      overflow: scroll;
    }
    .quote-paragraph {
      position: relative;
      font-family: $font-family-alt;
      font-size: 2.5rem;
      font-weight: 400;
      line-height: 52px;
      margin-bottom: 32px;
      @media (max-width: 651px) {
        font-size: 1.5rem;
        line-height: 31px;
      }
    }
    .quote-author {
      position: relative;
      margin-bottom: 0px;
      font-family: $font-family-alt;
      font-style: normal;
      font-weight: 600;
      font-size: 1.5rem;
      @media (max-width: 651px) {
        font-size: 1rem;
      }
    }
  }
  .quote-icon {
    position: absolute;
    width: 224px;
    height: 160px;
    left: 0%;
    right: 4.48%;
    top: 0%;
    bottom: 0.2%;
    @media (max-width: 360px) {
      position: absolute;
      width: 152px;
      height: 108px;
    }
  }
 }

.post {
  /* Resetting global styles */
  h1, h2, h3, h4, h5, p {
    margin: 0px;
    padding: 0px;
    color: $black;
  }
}

.post-intro {

  /* Default: Applied to any screen where max-width > 768px*/
  margin: 80px auto 48px;
  max-width: min(768px, 100vw - 192px);

  h4 {
    font-family: Work Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 0.875rem !important;
    line-height: 1.0625rem;
    margin-bottom: 1rem;  
    text-transform: uppercase;
  }

  h1 {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 3rem;
    line-height: 3.875rem;
    margin-bottom: 1rem;
  }

  p {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size:  1.625rem;
    line-height: 2.125rem;
    margin-bottom: 1.5rem; 
  }

  @media (max-width: 768px) {
    max-width: 100vw;
    margin: 0px;
    padding: 64px 48px 48px;

    h4 {
      line-height: 0.875rem;
    }

    h1 {
      font-size: 2rem !important;
      line-height: 2.33rem;
    }

    p {
      font-size: 1.125rem !important;
      line-height: 1.40625rem;
    }
  }
  
  @media (max-width: 651px) {
    padding: 64px 48px 32px;
  }
  
  @media (max-width: 360px) {
    padding: 48px 24px 32px;

    h1 {
      line-height: 2.125rem;
    }
  }
}

.post-intro-img-container {

  /* Default: Applied to any screen where max-width > 768px*/
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 48px;

  img {
    // Image will never be smaller than 768pxs, never larger than 1248pxs, and tries to be somewhere inbetween.
    width: clamp(768px, 100%, 1248px);
    margin-bottom: 16px;
  }
  
  .image-caption {
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
  }

  @media (max-width: 768px) {
    img {
      width: 100%;
    }

    .image-caption {
      font-size: 1rem;
      line-height: 1.125rem;
    }
  }

  @media (max-width: 651px) {
    margin-bottom: 32px;

    .image-caption {
      font-size: 0.875rem;
      line-height: 18px;
    }
  }
}

.post-generated-content {
  max-width: min(768px, 100vw - 192px);
  margin: 0px auto 48px;

  h2 {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 2rem !important;
    line-height: 2.625rem;
    text-align: left;
    margin-bottom: 16px;
  }

  p {
    margin-bottom: 1rem;
    font-family: Source Sans Pro;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.875rem;
    letter-spacing: 0em;
    text-align: left;
  }

  p + h2 {
    padding-top: 2rem;
    @media (max-width: 651px) {
      padding-top: 1rem;
    }
  }

  p:last-of-type{
    margin-bottom: 0px;
  }

  img {
    width: 100%;
    margin-top: 8px;
    margin-bottom: 48px;
  }

  @media (max-width: 768px) {
    max-width: 100vw;
    margin: 0px;
    padding: 0px 48px 48px;

    img {
      margin-top: 16px;
    }
  }

  @media (max-width: 651px) {
    margin: 0px;
    padding: 0px 48px 32px;

    img {
      margin-top: 8px;
      margin-bottom: 32px;
    }

    h2 {
      font-size: 1.5rem !important;
      line-height: 1.75rem;
    }

    p {
      font-size: 1rem !important;
      line-height: 1.5rem;
      text-align: left;
      margin-bottom: 16px;
    }
  }

  @media (max-width: 360px) {
    img {
      margin-top: 16px;
    }
    padding: 32px 24px;
  }
}

.case-studies-padding {

  h3 {
    /* This is just for the 'More Case Studies' text. */
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 1.25rem !important;
    line-height: 1.875rem;  
    margin: 0px;
    padding: 0px;
    padding-bottom: 24px;
    color: $black;
  }
  
  padding: 80px 96px;

  @media (max-width: 768px) {
    padding: 48px;
    padding-bottom: 64px;
    width: 100%;
  }

  @media (max-width: 651px) {
    padding: 64px calc(100vw / 360 * 24);
    h3 {
      font-size: 1rem !important;
      line-height: 1.3125rem;
    }
  }

  @media (max-width: 360px) {
	  padding-top: 32px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 48px;
  }
}

.case-studies-padding .gallery-container {

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    row-gap: 48px;
    grid-row-gap: 48px;
  }

  @media (max-width: 428px) {
    grid-template-columns: 1fr;
    row-gap: 48px;
    grid-row-gap: 48px;
  }

  @media (max-width: 360px){
    row-gap: 32px;
    grid-row-gap: 32px;
  }
}

.case-studies-padding .gallery-card {

  p, h5, h2, a {
    font-family: Source Sans Pro;
    font-style: normal;
    color: $black;
  }

  h2, h5, p {
    padding: 0px;
    margin: 0px;
  }

  h2, h5 {
    padding-bottom: 8px;
  }

  .gallery-content-container {
    margin-top: 8px;
  }

  @media (max-width: 768px) {
    display: grid;
    grid-template-columns: auto 375px;
    grid-column-gap: 32px;
    max-width: calc(100vw - 96px);

    .gallery-content-container {
      margin-top: 0px;
    }

    .gallery-content-container {
      max-width: 375px;

      a {
        font-weight: bold;
        font-size: 2rem;
        line-height: 2.625rem;
      }

      p {
        font-weight: normal;
        font-size: 1.25rem;
        line-height: 1.875rem;
        max-height: 3.5rem;
        overflow: hidden;
        max-width: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      h5 {
        font-family: Work Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 0.875rem !important;
        line-height: 1.0625rem;
      }

      h2, h5 {
        padding-bottom: 16px;
      }
    }
  }

  @media (max-width: 651px) {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 32px;
    .gallery-content-container{
      max-width: calc(66vw - 96px);

      a, p {
        font-family: Source Sans Pro;
        font-style: normal;
      }

      a {
        font-weight: bold;
        font-size: 1.5rem;
        line-height: 1.75rem;
      }

      p {
        font-weight: normal;
        font-size: 1rem;
        line-height: 1.5rem;
      }
    }
  }

  @media (max-width: 428px) {
    display: block;
    max-width: calc(100vw - 48px);

    .gallery-content-container {
      margin-top: 16px;
      max-width: 100%;
      
      p {
        max-height: none;
        max-width: 100%;
        white-space: normal;
        overflow: visible;
      }
    }
  }
}

.share-wrapper {
  margin: auto;
  max-width: min(768px, 100vw - 192px); 
  padding: 0 0 24px;

  @media(max-width: 768px){
    max-width: 100vw;
    padding: 0px 48px 24px;    
  }
  
  @media(max-width: 360px){
    padding: 0px 24px 24px;
  }
}

.socialmedia-links-container {
  height: 20px;
  display: inline-flex;
  align-items: center;
  margin: 0 -1rem 0 0;
}

.socialmedia-link {
  margin: 0 1rem 0 0;
  line-height: 0;
  font-size: 1rem;
  height: 20px;
  cursor: pointer;
  img {
    height: 20px;
  }
}

.display-none {
  display: none !important;
}

.hidden {
  visibility: hidden;
}

/* Styles for Leadership Team Section of the About Page */
#our-team {
  background-color: $off-white;
  padding: 30px;

  header {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    max-width: 600px;
    margin: 80px auto 24px auto;
  }
}

.leader-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  max-width: 1440px; 
}

.leader-card {
  margin: 25px;
} 
.starting-projects-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: min-content;
  max-width: 1400px;
  padding: 80px 96px;
  margin-right: auto;
  margin-left: auto;
  .starting-projects-content {
    position: relative;
    text-align: center;
    max-width: 600px;
    height: max-content;
    h2 {
      color: $darker-grey;
      height: min-content;
      padding-top: 0px;
      margin-bottom: 16px;
      font-style: normal;
      font-weight: bold;
      font-size: 3rem;
    }
    p {
      margin-bottom: 24px;
      font-style: normal;
      font-weight: normal;
      font-size: 1.25rem;
    }
  }
  .starting-projects-grid {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 24px;
    width: 100%;
    height: min-content;
  }

  .starting-projects-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: min-content;
    width: 31.45%;
    .starting-projects-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: min-content;
      max-height: 100%;
      width: 100%;
      text-align: left;
    }
    h2 {
      width: 100%;
      font-style: normal;
      font-weight: bold;
      font-size: 2rem;
      line-height: 38px;
      color: $darker-grey;
      margin: 0;
      padding-top: 8px;
      padding-bottom: 8px;
    }
    p {
      font-style: normal;
      font-weight: normal;
      font-size: 1.25rem;
      line-height: 30px;
      overflow-y: visible;
    }
  }

  .image-container {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    min-height: 65%;
    width: 100%;
  }

  .starting-projects-image {
    position: relative;
    object-fit: cover;
    object-position: 100% 0;
    min-width: 100%;
    min-height: 100%;

  }

  @media (min-width: 1060px) {
    .starting-projects-grid > *+* {
      margin-left: 32px;
    }
  }

  @media (max-width: 1059px) {
    padding: 64px 48px;
    .starting-projects-grid {
      height: min-content;
      flex-direction: column;
    }
    .starting-projects-grid > *+* {
      margin-top: 48px;
    }
    .starting-projects-item {
      flex-direction: row;
      width: 100%;
      height: 177px;
    }
    .image-container {
      height: 100%;
      padding-right: 32px;
    }
  }

  @media (max-width: 651px) {
    .starting-projects-content, 
    .starting-projects-item {
      max-width: 555px;
      h2 {
        font-size: 1.5rem;
        line-height: 28.4px;        ;
      }
      p {
        font-size:  1rem;
        line-height: 24px;
      }
    }
    .starting-projects-grid > *+* {
      margin-top: 32px;
    }
    .image-container {
      min-width: 41%;
      height: auto;
    }
  }
  
  @media (max-width: 360px) {
    padding: 48px 0px;
    margin-left: 24px;
    margin-right: 24px;
    .starting-projects-item {
      flex-direction: column;
      height: min-content;
    }
    .starting-projects-grid > *+* {
      margin-top: 48px;
    }
    .image-container {
      width: 100%;
      height: auto;
      padding-right: 0;
    }
  }
}

.volunteerContent {
  .volunteer-title {
    font-size: 2.75rem;
    line-height: 1.2;
    color: $black;
    margin: 80px auto 24px;
    width: 100%;
    max-width: 600px;
    text-align: center;
    @media (max-width: 651px) {
      font-size: 2rem;
    }
  }
  .iconsRow {
    text-align: left;
    max-width: none;
    .description {
      font-weight: 500;
    }
  }
}