<div class="portfolio-hero-background-container">
  <div class="portfolio-hero-container">
    <div class="portfolio-hero-contents">
      <div class="portfolio-hero-text">
        <h4 class="portfolio-hero-subheading--desktop">About Us</h4>
        <h4 class="portfolio-hero-subheading--mobile">About Us</h4>
        <h1 class="portfolio-hero-heading">We want to make tech accesible to everyone.</h1>
      </div>
      <div class="portfolio-hero-image">
        <img src="../images/Color-Small-White.svg" alt="logo"/>
      </div>
    </div>  
  </div>
</div>