<!-- non alternating -->
<div class="gallery-card">
    {% if include.is_preview %}
    <div class="gallery-image-container">
      {% if include.card.thumbnail and include.card.alt %}
      <img src="{{include.card.thumbnail}}" alt="{{include.card.alt}}" /> {% else %}
      <img src="/images/proxy-img.png" alt="A sample proxy image" />
      {% endif %}
    </div>
    <div class="gallery-content-container">
      <h5>{{ include.card.areas }}</h5>
      <h2>{{ include.card.title }}</h2>
      <p>Full details coming soon</p>
    </div>
    {% else %}
    <a href="{{ include.card.url }}">
      <div class="gallery-image-container">
        {% if card.thumbnail and card.alt %}
        <img src="{{include.card.thumbnail}}" alt="{{include.card.alt}}" /> {% else %}
        <img src="/images/proxy-img.png" alt="A sample proxy image" />
        {% endif %}
      </div>
    </a>
    <div class="gallery-content-container">
      <h5>{{ include.card.areas }}</h5>
      <h2>
        <a href="{{ include.card.url }}">{{ include.card.title }}</a>
      </h2>
      <p>{{ include.card.description }}</p>
    </div>
    {% endif %}
</div>