<div class="contentContainer">
    <div class="cardsContainer">
      <div class="padded-content cards">
        <div class="flexRow">
          <div class="col-md-auto image-right-card-text">
            <div class="card-info">
              <h4 class="cardTitle">Project Management</h4>
              <h2 class="cardText">Our PMs and Leads steer the ship</h2>
              <p class="cardText">
                Project Managers and Practice Leads define the roadmap and create
                tickets in our kanban board. They lead our meetings and make sure
                everyone is on the same page.
              </p>
            </div>
          </div>
          <div class="col-md-auto card-img-container">
            <img
              src="/images/pm-leads.png"
              alt="Two women pointing at a whiteboard having a conversation"
            />
          </div>
        </div>




        <div class="flexRow image-left-card-row">
          <div class="col-md-auto card-img-container">
            <img
              src="/images/volunteer-time.png"
              alt="Three men gather around a computer, looking excitedly at something on the screen."
            />
          </div>
          <div class="col-md-auto image-left-card-text">
            <div class="card-info">
              <h4 class="cardTitle">Time Commitment</h4>
              <h2 class="cardText">We're happy with any support</h2>
              <p class="cardText">
                We're flexible with your time. All we need from you is your great
                communication to let us know where you are with your work.
              </p>
            </div>
          </div>
        </div>

        
        <div class="flexRow image-right-card-row">
          <div class="col-md-auto image-right-card-text">
            <div class="card-info">
              <h4 class="cardTitle">Project Length</h4>
              <h2 class="cardText">Projects are for the long haul</h2>
              <p class="cardText">
                With small input, we take a little longer than a paid gig. Our
                teams work iteratively to ensure we are thinking through the
                problem space rather than devising a solution.
              </p>
            </div>
          </div>
          <div class="col-md-auto card-img-container">
            <img
              src="/images/slow-project.png"
              alt="A snail moves slowly on a rock"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  