<div class="contentContainer">
    <div class="flexRow contact-form-container">
      <div class="padded-content">
        <div class="text-center">
          <h1 id="contactus">Contact Us</h1>
        </div>
        <div class="flexRow">
          <div class="contact-form">
            <form method="POST" action="https://formspree.io/leadership@openuptown.us">
              <label for="email">Email</label>
              <input type="email" name="email" id="email" placeholder="Your email">
              <label for="message">Message</label>
              <textarea name="message" id="message" placeholder="Your message"></textarea>
              <button type="submit" class="button button-long">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>