<footer class="py-3 footer">
  <div class="padded-content">
    <p><a href="https://github.com/Open-Uptown/codeofconduct/blob/master/README.md" target="_blank">Code of Conduct</a></p>
    <p><a href="https://secure.codeforamerica.org/page/contribute/default?source_codes=Brigade-page&brigade=Open%20Uptown" target="_blank">Donate</a></p>
    <p class="text-center">Copyright 2019 Code for Chicago</p>
    <p class="text-center">Code for America Labs, Inc. is a non-partisan, non-political 501(c)(3) charitable organization</p>

  </div>
</footer>

<!-- scripts -->
<script src="/assets/js/main.min.js"></script>
</body>

</html>