<footer class="py-3 footer">
  <div class="padded-content">
    <div class="row align-items-center">
      <div class="col-12 col-md-3 footer-icon">
        <img src="/../images/cfc_logo_short.svg" alt="Code for Chicago Logo Icon"/>
      </div>
      <div class="col-12 col-md-9">
	<p><a href="https://codeforamerica.org/" target="blank">Code for America Labs, Inc.</a> is a non-partisan, non-political 501(c)(3) charitable organization</p>
      </div>
    </div> 
  </div>
</footer>
</body>

</html>
