<div class="secondary-hero-background-container">
  <div class="secondary-hero-container">
    <div class="secondary-hero-contents">
      <div class="secondary-hero-text">
        <h4 class="secondary-hero-subheading--desktop">Join Us</h4>
        <h4 class="secondary-hero-subheading--mobile">Join Us</h4>
        <h1 class="secondary-hero-heading">Be part of the change in your commmunity</h1>
        <a class="join-button"
          href="https://docs.google.com/presentation/d/1_7zd36CeHqi15DTqL3Wmh3dLCiN8EVbfW2iy1j-gs0M/edit?usp=sharing"
          target="_blank" rel="noopener">Start
          onboarding
          today!</a>
      </div>
      <div class="secondary-hero-image">
        <img src="../images/Color-Small-White.svg" alt="logo" />
      </div>
    </div>
  </div>
</div>