<div class="gallery-container gallery-2x2-grid">
  <div class="gallery-card">
    <div class="gallery-image-container">
      <img src="images/proxy-img.png" alt="">
    </div>
    <div class="gallery-content-container">
      <h2>
        Attend Onboarding Night
      </h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet pulvinar odio
      </p>
    </div>
  </div>
  <div class="gallery-card">
    <div class="gallery-image-container">
      <img src="images/proxy-img.png" alt="">
    </div>
    <div class="gallery-content-container">
      <h2>
        Attend Onboarding Night
      </h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet pulvinar odio
      </p>
    </div>
  </div>
  <div class="gallery-card">
    <div class="gallery-image-container">
      <img src="images/proxy-img.png" alt="">
    </div>
    <div class="gallery-content-container">
      <h2>
        Attend Onboarding Night
      </h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet pulvinar odio
      </p>
    </div>
  </div>
  <div class="gallery-card">
    <div class="gallery-image-container">
      <img src="images/proxy-img.png" alt="">
    </div>
    <div class="gallery-content-container">
      <h2>
        Attend Onboarding Night
      </h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet pulvinar odio
      </p>
    </div>
  </div>
  <div class="gallery-card">
    <div class="gallery-image-container">
      <img src="images/proxy-img.png" alt="">
    </div>
    <div class="gallery-content-container">
      <h2>
        Attend Onboarding Night
      </h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet pulvinar odio
      </p>
    </div>
  </div>
  <div class="gallery-card">
    <div class="gallery-image-container">
      <img src="images/proxy-img.png" alt="">
    </div>
    <div class="gallery-content-container">
      <h2>
        Attend Onboarding Night
      </h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet pulvinar odio
      </p>
    </div>
  </div>
  <div class="gallery-card">
    <div class="gallery-image-container">
      <img src="images/proxy-img.png" alt="">
    </div>
    <div class="gallery-content-container">
      <h2>
        Attend Onboarding Night
      </h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet pulvinar odio
      </p>
    </div>
  </div>
  <div class="gallery-card">
    <div class="gallery-image-container">
      <img src="images/proxy-img.png" alt="">
    </div>
    <div class="gallery-content-container">
      <h2>
        Attend Onboarding Night
      </h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet pulvinar odio
      </p>
    </div>
  </div>
</div>