<div class="secondary-hero-background-container">
  <div class="secondary-hero-container">
    <div class="secondary-hero-contents">
      <div class="secondary-hero-text">
        <h4 class="secondary-hero-subheading--desktop">How to join</h4>
        <h4 class="secondary-hero-subheading--mobile">How to join</h4>
        <h1 class="secondary-hero-heading">How we start projects and get things done</h1>
      </div>
      <div class="secondary-hero-image">
        <img src="../images/Color-Small-White.svg" alt="logo"/>
      </div>
    </div>  
  </div>
</div>