<div class="portfolio-container">
  <div class="portfolio-card">
    <div class="portfolio-image-container">
      <img src="images/proxy-img.png" alt="">
    </div>
    <div class="portfolio-content-container">
      <h2>
        Attend Onboarding Night
      </h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet pulvinar odio
      </p>
    </div>
  </div>
  <div class="portfolio-card">
    <div class="portfolio-image-container">
      <img src="images/proxy-img.png" alt="">
    </div>
    <div class="portfolio-content-container">
      <h2>
        Attend Onboarding Night
      </h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet pulvinar odio
      </p>
    </div>
  </div>
  <div class="portfolio-card">
    <div class="portfolio-image-container">
      <img src="images/proxy-img.png" alt="">
    </div>
    <div class="portfolio-content-container">
      <h2>
        Attend Onboarding Night
      </h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet pulvinar odio
      </p>
    </div>
  </div>
  <div class="portfolio-card">
    <div class="portfolio-image-container">
      <img src="images/proxy-img.png" alt="">
    </div>
    <div class="portfolio-content-container">
      <h2>
        Attend Onboarding Night
      </h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet pulvinar odio
      </p>
    </div>
  </div>
  <div class="portfolio-card">
    <div class="portfolio-image-container">
      <img src="images/proxy-img.png" alt="">
    </div>
    <div class="portfolio-content-container">
      <h2>
        Attend Onboarding Night
      </h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet pulvinar odio
      </p>
    </div>
  </div>
  <div class="portfolio-card">
    <div class="portfolio-image-container">
      <img src="images/proxy-img.png" alt="">
    </div>
    <div class="portfolio-content-container">
      <h2>
        Attend Onboarding Night
      </h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet pulvinar odio
      </p>
    </div>
  </div>
  <div class="portfolio-card">
    <div class="portfolio-image-container">
      <img src="images/proxy-img.png" alt="">
    </div>
    <div class="portfolio-content-container">
      <h2>
        Attend Onboarding Night
      </h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet pulvinar odio
      </p>
    </div>
  </div>
  <div class="portfolio-card">
    <div class="portfolio-image-container">
      <img src="images/proxy-img.png" alt="">
    </div>
    <div class="portfolio-content-container">
      <h2>
        Attend Onboarding Night
      </h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet pulvinar odio
      </p>
    </div>
  </div>
</div>