<div class="header-line-container padded-content">
  <div class="row">
    <div class="padded-content">
        <div class="text-left"> 
            <h2 id="code-for-america-brigade">A Code for america brigade</h2>
        </div>
        <div class="pt-2 mb-2 text-left"> 
          <h1 id="we-are-on-a-mission">
              We're on a mission to make community services work in a digital age.
          </h1>
        </div>
        <div class="pt-2 text-left"> 
          <p class="we-forge-partnerships">
            We forge partnerships between neighbors who use technology to
            improve interactions with, and access to, public services.
          </p>
      </div>  
    </div>
  </div>
</div>
<div class="skyline">
  <div class="row">
    <img src="/assets/images/normal/skyline_wide_red.svg" />
  </div>
</div>
