<div class="header-background-container">
  <div class="header-line-container">
    <div class="header-contents">
      <div class="header-text">
        <h4 class="hero-header-subheading">A code for America Brigade</h4>
        <h1 class="hero-header-heading--desktop">Making community services work in a digital age</h1>
        <h1 class="hero-header-heading--mobile">Making community services work in a digital age</h1>
        <p class="hero-header-paragraph">We forge partnerships between neighbors who use technology to improve interactions with, and access to, public services.</p>
      </div>
    </div>
    <div class="hero-header-image"></div>
  </div>
</div>
