<header>
  <div class="mb-0 d-flex flex-column justify-content-center min-100"
    id="header">
    <div class="row">
      <div class="col-md-4">
        <h1>Code for Chicago</h1>
        <p class="header-p">
            A Code for America Brigade
        </p>

        <p>
        <a target="_blank" href="https://uptown-codes.herokuapp.com/" title="Slack">
          <i class="fab fa-slack"></i>
        </a>
        <a target="_blank" href="https://github.com/{{ site.github_username }}" title="Github">
          <i class="fab fa-github"></i>
        </a>
        <a target="_blank" href="https://twitter.com/{{ site.twitter_username }}" title="Twitter">
          <i class="fab fa-twitter"></i>
        </a>
        </p>
      </div>
    </div>
  </div>
</header>