<!-- NAV -->

<nav class="navbar">
  <div class="logo-container">
    <a href="{{ site.baseurl }}/">
      <img class="brigade-logo" src="/images/codeforchicagodecologo.png" />
    </a>
  </div>
  <div class="social-container">
    <div class="meetup-nav social-logo">
      <a href="#">
        <img
          class="meetup-img social-img"
          src="/images/meetup white on black.png"
        />
      </a>
    </div>
    <div class="twitter-nav social-logo">
      <a href="#">
        <img class="social-img" src="/images/twitter white on black.png" />
      </a>
    </div>
    <div class="slack-nav social-logo">
      <a href="#">
        <img
          class="social-img slack-logo"
          src="/images/Slack Mark Monochrome White.png"
        />
      </a>
    </div>
    <div class="github-nav social-logo">
      <a href="#">
        <img class="social-img" src="/images/GitHub-Mark-64px.png" />
      </a>
    </div>
  </div>
</nav>
