<!-- NAV -->

<nav class="navbar">
    <div class="logo-container mr-auto">
	<a href="{{ site.baseurl }}/">
	<img class="brigade-logo" src="/images/codeforchicagodecologo.png" />
	</a>
    </div>
    <div class="social-container">
	<div class="social-logo">
	<a href="https://www.meetup.com/code-for-chicago" target="_blank">
	    <img
	    class="social-img"
	    src="/images/meetup-logo.png"
	    />
	</a>
	</div>
	<div class="social-logo">
	<a href="https://code-for-chicago-slack-invite.herokuapp.com/" target="_blank">
	    <img
	    class="social-img"
	    src="/images/slack-logo.png"
	    />
	</a>
	</div>
	<div class="social-logo">
	<a href="https://github.com/Code-For-Chicago/" target="_blank">
	    <img class="social-img" src="/images/github-logo.png" />
	</a>
	</div>
    </div>
</nav>
