<!-- NAV -->

<nav class="navbar">
  <div class="logo-container">
    <a href="{{ site.baseurl }}/">
      <img
        class="brigade-logo"
        src="/assets/images/normal/codeforchicagodecologo.png"
      />
    </a>
  </div>
  <div class="social-container">
    <a href="#">
      <img class="social-logo" src="" />
    </a>
    <a href="#">
      <img class="social-logo" src="" />
    </a>
    <a href="#">
      <img class="social-logo" src="" />
    </a>
    <a href="#">
      <img class="social-logo" src="" />
    </a>
  </div>
</nav>
