<div class="portfolio-container">
  <div class="portfolio-upper">
    <span class="portfolio-tags">{{ page.areas }}</span>
    <h1>{{ page.title }}</h1>
    <p class="portfolio-description">{{ page.description }}</p>
  </div>
  <img src="{{ page.thumbnail}}" alt="{{ page.alt}}" class="portfolio-header-image" />
  <p class="portfolio-caption">{{ page.imgtext }}</p>

  <div class="portfolio-content">
    {{ content }}
  </div>
</div> 
<!-- Modal -->
<div class="modal">
  <div class="modal-content">
    <span class="close-btn">&times;</span>
    <img class="modal-image">
  </div>
</div>
{% include case-studies.html %}
<script>
const container = document.querySelector('.portfolio-container');
let modalImage = document.querySelector('.modal-image');
let modal = document.querySelector(".modal")
let closeBtn = document.querySelector(".close-btn")

function verifyTargetImage(e) {
  let returnedValue = e.target;

  if (returnedValue.nodeName === 'IMG') {
    modalImage.src = returnedValue.src;
    modalImage.alt = returnedValue.alt;
    modalImage.title = returnedValue.title;
  } 
  modal.style.display = "block"
};

container.addEventListener('click', verifyTargetImage);
closeBtn.onclick = () => modal.style.display = "none";
window.onclick = function(e) {
  if (e.target === modal) {
    modal.style.display = "none"
  }
};
</script>