<div class="secondary-hero-background-container">
    <div class="secondary-hero-container">
        <div class="secondary-hero-contents">
            <div class="secondary-hero-text">
                <h4 class="secondary-hero-subheading--desktop">PROJECTS</h4>
                <h4 class="secondary-hero-subheading--mobile">A Code for America Brigade</h4>
                <h1 class="secondary-hero-heading">Explore active projects to get involved</h1>
            </div>
            <div class="secondary-hero-image">
                <img src="../images/Color-Small-White.svg" alt="logo"/>
            </div>
        </div>  
    </div>
</div>