<div class="share-content-links-container">
    <a href="https://twitter.com/intent/tweet?url={{site.url}}/{{page.url}}%2F" class="share-logo-container">
        <img src="{{site.baseurl}}/images/twitter.svg" alt="share on Twitter">
    </a>
    <a class="share-logo-container" id="fb-share">
        <img src="{{site.baseurl}}/images/facebook.svg" alt="share on facebook">
    </a>
    <a class="share-logo-container"
    
    href="http://www.linkedin.com/shareArticle?mini=true&url={{site.url}}{{page.url}}"
    >
        <img src="{{site.baseurl}}/images/linkedin.svg" alt="share on LinkedIn">
    </a>
</div>

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId            : 'your-app-id',
      autoLogAppEvents : true,
      xfbml            : true,
      version          : 'v10.0'
    });
  };
  
  document.getElementById('fb-share').onclick = function() {
    FB.ui({
      display: 'popup',
      method: 'share',
      href: '{{site.url}}/{{page.url}}',
    }, function(response){});
  }
</script>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
   