// Color
// Branding colors
// Primary
$cfa-red: #cf2045;
$cfa-red-dark: #aa1a37;
$cfa-blue: #359ed3;
$cfa-blue-dark: #0d77ac;
$brigade-grey: #6d6e71;
// Secondary
$light-grey: #bababa;
$dark-grey: #606060;
$darker-grey: #333333;
$off-white: #f5f5f5;

$primary: $cfa-red;
$highlight: lighten($primary, 0%);

// Grid
$grid-breakpoints: (
  xs: 0,
  /* custom: breakpoint for workwithus icons */ xxssm: 361px,
  /* custom: between xs and sm used in footer */ xssm: 425px,
  sm: 576px,
  md: 768px,
  lg: 1058px,
  xl: 1200px,
);

// Links
$link-color: $cfa-red;
$link-hover-color: $cfa-red;
$link-hover-decoration: underline;
$link-decoration: none;

// Tooltips
$tooltip-bg: #3194c3;
$tooltip-color: white;
$tooltip-opacity: 0.9;

// Fonts! (TODO)
$font-family-base: "Source Sans Pro", sans-serif;
$font-family-alt: "Work Sans", sans-serif;
