{% include head.html %} 
{% include search_modal.html %}
{% include navbar.html %}
  <section id="{{ page.type }}" class="container pt-3">
  <div class="row">
    <div class="col">
    {%- if page.type == "post" -%}
      <p class="lead text-black-50 text-right">
        {{ page.date | date: "%b %-d, %Y" }}
      </p>
    {%- endif -%}
      <article>
        {{ content }}
      </article>
    </div>
  </div>
</section>

<div class="more-case-studies">
  <h2>More Case Studies</h2>
  <div id="random-case-studies-wrapper">
    {% for post in site.posts %}
    <div class="portfolio-card invisible-card">
        <div class="portfolio-image-container">
          {% if post.img and post.alt %} <img src="{{post.img}}" alt="{{post.alt}}">
          {% else %} <img src="/images/proxy-img.png" alt="A sample proxy image">
          {% endif %}
        </div>
        <div class="category-subheading">{{ post.category }}</div>
        <h2>
          <a href="{{ post.url }}">{{ post.title }}</a>
        </h2>
        <p>
        {{ post.description }}
        </p>
    </div>
    {% endfor %}
  </div>
</div>
<script>
  let wrapper = document.getElementById('random-case-studies-wrapper');
  let cards = wrapper.children;  

  // arrange ALL the posts in random order
  for (let i = wrapper.children.length; i >= 0; i--) {
      wrapper.appendChild(wrapper.children[Math.random() * i | 0]);
  }

  // change classname on 3 the first 3 cards to not have "invisible"
  for (let i = 0; i < 3; i++) {
      cards[i].className = "portfolio-card";
  }
</script>
{% include footer.html %}