{% include head.html %} 
{% include search_modal.html %}
{% include navbar.html %}
<hr>
<section id="{{ page.type }}" class="post">
  <div class="centered-div">
    <article>
      <div class="post-intro">
        <h4>{{ page.areas | uppercase }}</h4>
        <h1>{{ page.title }}</h1>
        <p>{{ page.description }}</p>
        {% include social-media-share-links.html %}
      </div>
      <div class="post-intro-img-container">
        {% if page.img and page.alt %} 
        <img src="{{page.img}}" alt="{{page.alt}}">
        {% else %} <img src="/images/proxy-img.png" alt="A sample proxy image">
        {% endif %}
        <p class="image-caption">{{ page.imgtext }}</p>
      </div>
      <div class="post-generated-content">      
        {{ content }}
      </div>
    </article>
  </div>
</section>
<div class="share-wrapper">
  {% include social-media-share-links.html %}
</div>
<hr>
{% include case-studies.html %}
<hr>
{% include footer.html %}