@import "./custom/_variables";
@import "./bootstrap/bootstrap";
@import "./instantsearch/instantsearch";
@import "./instantsearch/instantsearch-theme-algolia";
@import "./custom/includes/buttons";
@import "./custom/includes/card";
@import "./custom/includes/copy_to_clipboard";
@import "./custom/includes/navbar";
@import "./custom/includes/images";
@import "./custom/includes/jumbotron";
@import "./custom/includes/pagination";
@import "./custom/includes/social_links";
@import "./custom/includes/syntax_highlighting";
@import "./custom/includes/tables";
@import "./custom/includes/type";

.text-left {
    text-align: left;
}

.brigade-logo {
    display: block;
    width: 15%;
    margin: auto;
    margin-top: 2rem;
}

@media (max-width: 1024px) {
    .brigade-logo {
        width: 75% !important;
    }
}

.logo-container {
    display: block;
    width: 100%;
    margin: auto;
}

.header-line-container {
    display: block;
    width: 100%;
    margin: auto;
    margin-bottom: 2rem !important;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.nav-links-container {
    display: block;
    width: 100%;
    margin: auto;
}

.nav-links {
    display: flex;
    justify-content: center;
}

.nav-link {
    a {
        color: $cfa-blue;
    }
}

.about {
    background-color: $cfa-red;
    color: $white;
    padding-top: 5rem;
    padding-bottom: 3rem;
    margin-bottom: 2rem;
    h1,h2,h3 {
        color: $white;
    }
    a {
        color: $white;
    }
    p {
        font-size: calc(1rem + 27.333%);
    }
    
}

.projects {
    background-color: $light-blue;
}

.activity {
    background-color: $light-grey;
    margin: 4.16%;
}

.keep-in-touch {
    display: block;
    margin: auto;
    margin-top: 1rem;
    .fa-slack {
        color: $white;
    }
    svg {
        font-size: 400%;
    }
}

.sponsors {
    background-color: $cfa-red;
    color: white;
    padding-left: 1%;
    padding-right: 1%;
    h1, h3, h4 {
        color: white;
    }
    a {
        color: white;
    }
}

.meetups {
    background-color: $white;
    padding-left: 1%;
    padding-right: 1%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    justify-content: center;
    h4 {
        color: $cfa-blue;
    }
    h3 {
        a {
            color: $black;
        }
    }
}

.meetup {
    border: 1px solid $light-grey;
    border-radius: 1rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.rsvp-stuff {
    margin-top: 1rem;
}

.attendees {
    border-bottom: 2rem solid transparent;
}

.attend-button {
    border-bottom: 1rem solid transparent;
    padding-left: 5%;
}

.button {
    background-color: $cfa-red;
    border: none;
    color: white;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    text-decoration: none;
    border-radius: 1rem;
    margin-top: 2rem !important;
    a {
        color: white;
    }

}

.button:hover {
    color: white;
    text-decoration: underline;
}

.contact-form-container {
    color: $white;
    padding-bottom: 5rem;
    padding-top: 1rem;
    margin-bottom: 2rem;
    background-color: $cfa-red;
    h1 {
        color: $white;
        margin-bottom: 2rem;
    }
    .text-center {
        display: block;
        margin: auto;
    }
    a {
        color: $white;
    }

}

.contact-form {
    margin-bottom: 2rem;
    input {
        width:100%;
        margin-bottom: 1rem;
        display: block;
    }
    textarea {
        width: 100%;
        margin-bottom: 1rem;
        display: block;
    }
    button {
        display: block;
        background-color: $white;
        border: none;
        color: $dark-grey;
        padding-top: .25rem;
        padding-bottom: .25rem;
        padding-left: 1rem;
        padding-right: 1rem;
        text-align: center;
        text-decoration: none;
        border-radius: 1rem;
        margin: auto;
    }
    button:hover {
        text-decoration: underline;
    }
}

.events-link {
    margin-bottom: 2rem;
}

.event-photo {
    max-height: 10rem;
    display: block;
    margin: auto;
    border-radius: 1rem;
}

.event-description {
    margin-top: 1rem;
}

@media (min-width: 1025px) {
    .padded-content {
        width: 50%;
        display: block;
        margin: auto;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.padded-content {
    width: 50%;
    display: block;
    margin: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.footer {
    background-color: $cfa-red;
    color: $white;
    a {
        color: $white;
    }
}

.about-cfa {
    padding-top: 2rem;
    margin-bottom: 2rem;
}

.workwithus {
    padding-bottom: 2rem;
    h4 {
        color: $black;
    }
    p {
        font-size: calc(1rem + 27.333%);
    }
}

@media (max-width: 1024px) {
    .padded-content {
        width: 100%;
        display: block;
        margin: auto;
        padding-left: 3rem;
        padding-right: 3rem;
    }
}