@import "./custom/_variables";
@import "./bootstrap/bootstrap";
@import "./instantsearch/instantsearch";
@import "./instantsearch/instantsearch-theme-algolia";
@import "./custom/includes/buttons";
@import "./custom/includes/card";
@import "./custom/includes/copy_to_clipboard";
@import "./custom/includes/navbar";
@import "./custom/includes/images";
@import "./custom/includes/jumbotron";
@import "./custom/includes/pagination";
@import "./custom/includes/social_links";
@import "./custom/includes/syntax_highlighting";
@import "./custom/includes/tables";
@import "./custom/includes/type";

.text-left {
    text-align: left;
}

.projects {
    background-color: $light-blue;
}

.activity {
    background-color: $light-grey;
    margin: 4.16%;
}

.keep-in-touch {
    padding: 1%;
    svg {
        font-size: 400%;
    }
}

.sponsors {
    background-color: $cfa-red;
    color: white;
    padding-left: 1%;
    padding-right: 1%;
    h1, h3, h4 {
        color: white;
    }
    a {
        color: white;
    }
}

.meetups {
    background-color: $cfa-red;
    color: white;
    padding-left: 1%;
    padding-right: 1%;
    h1, h3, h4 {
        color: white;
    }
    a {
        color: white;
    }
}
