.navbar {
  width: 75%;
  margin:auto;
  display: flex;
  .nav-item {
    font-size: 1rem;
  }
}

.nav-link {
  color: $gray-600;

  &:hover {
    color: $link-color !important;
  }
}

.internal-links {
  list-style-type: none;
  padding: 0;
  display: flex;
  align-items: center;
  li {
    margin-right: 2rem;
  }
  a {
    color: $darker-grey;
  }
}

.external-links {
  display: flex;
}